<html>
  <head>
  </head>
  <body>
<div id="menu">
      <ul>
	<li><a href=".">Home</a></li>
	<li><a href="/gmsh">Gmsh</a></li>
	<li><a href="/airfoil">Airfoil</a></li>
    <li><a href="/gmshairfoil">GMSH and Airfoil</a></li>

    <li>
	  <script>
	    document.write('<a href="' + window.location.protocol + '//' + window.location.hostname + ':8080' + window.location.pathname + '" >Link to same page on port 8080:</a> ');
	  </script>
	</li>
      </ul>
    </div>

<h1>Airfoil</h1>
    <form action="" method="post" name="airfoil">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}


        <p>number of samples</p>
        {{ form.samples(size=20, value=10)}}
        <p> viscocity </p>
        {{ form.viscocity(size=20, value=0.0001) }}
        <p> speed </p>
        {{ form.speed(size=20, value='10.') }}
        <p> time </p>
        {{ form.time_step(size=20, value=1) }}
        <p> filename </p>

        {{ form.filename(size=20, value='r0a0n0.xml') }}







        <p><input type="submit" value="run airfoil"></p>

    </form>

  </body>
</html>
