<html>
  <head>
  </head>
  <body>
<div id="menu">
      <ul>
	<li><a href=".">Home</a></li>
	<li><a href="/gmsh">Gmsh</a></li>
	<li><a href="/airfoil">Airfoil</a></li>
	<li>
	  <script>
	    document.write('<a href="' + window.location.protocol + '//' + window.location.hostname + ':8080' + window.location.pathname + '" >Link to same page on port 8080:</a> ');
	  </script>
	</li>
      </ul>
    </div>

<h1>Airfoil</h1>
    <p>To run the code do./airfoil num_samples visc speed T mesh.xml</p>
    <form action="" method="post" name="airfoil">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        {{ form.samples }}
		{{ form.viscocity }}
		{{ form.speed }}
	    {{ form.time_step }}
		{{ form.filename }}
        <p><input type="submit" value="run airfoil"></p>

    </form>

  </body>
</html>
