<html>
  <head>
  </head>
  <body>
<div id="menu">
      <ul>
	<li><a href=".">Home</a></li>
	<li><a href="/gmsh">Gmsh</a></li>
	<li><a href="/airfoil">Airfoil</a></li>
    <li><a href="/gmshairfoil">GMSH and Airfoil</a></li>

	<li>
	  <script>
	    document.write('<a href="' + window.location.protocol + '//' + window.location.hostname + ':5001' + '" >Flower</a> ');
	  </script>
	</li>
      </ul>
    </div>
    <h1>GMSH</h1>
    <form action="" method="post" name="gmshairfoil">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>

            <p>start angle </p>
            {{ form.angle_start(size=20, value=0) }}<br>
            <p>stop angle </p>
            {{ form.angle_stop(size=20, value=30) }}<br>
            <p>step between angles</p>
            {{ form.angles(size=20, value=10) }}<br>
            <p>number of nodes</p>
            {{ form.nodes(size=20, value=100) }}<br>
            <p>refinements step</p>
            {{ form.levels(size=20, value=0) }}<br>

            <h1>Airfoil</h1>

            <p>number of samples</p>
            {{ form.samples(size=20, value=10)}}
            <p> viscocity </p>
		    {{ form.viscocity(size=20, value=0.0001) }}
            <p> speed </p>
		    {{ form.speed(size=20, value='10.') }}
            <p> time </p>
            {{ form.time_step(size=20, value=1) }}

        <p><input type="submit" value="run airfoil"></p>

    </form>

  </body>
</html>
