<html>
  <head>
    <title>{{ title }} - microblog</title>
  </head>
  <body>

    <div id="menu">
      <ul>
	<li><a href=".">Home</a></li>
	<li><a href="/gmsh">Gmsh</a></li>
	<li><a href="/airfoil">Airfoil</a></li>
	<li>
	  <script>
	    document.write('<a href="' + window.location.protocol + '//' + window.location.hostname + ':5001' + '" >Flower</a> ');
	  </script>
	</li>
      </ul> 
    </div>
    
      <h1>Hello, {{ user.nickname }}!</h1>


<p>angle_start : smallest anglemof attack (degrees)</p>
<p>angle_stop  : biggest angle of attack (degrees)</p>
<p>n_angles    : split angle_stop-angle_start into n_angles parts</p>
<p>n_nodes     : number of nodes on one side of airfoil</p>
<p>n_levels    : number of refinement steps in meshing 0=no refinement 1=one time 2=two times etc...</p>
</p>


  </body>
</html>
